<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Page"/>

<f:section name="Configuration">
    <flux:form id="homepage" label="Home">
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="0" colspan="4" name="colpos0"/>
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="1" colspan="4" name="colpos1"/>
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>


<f:section name="Main">

    <h1>This is the extension: na_fluxdummy</h1>
    <p>This content is a hardcoded teaser text in the page-template <strong>EXT:na_fluxdummy/Resources/Private/Templates/Page/Home.html</strong></p>
    <div style="background: #ffc2b1; padding: 15px;">
        <p>Content from colPos 0:</p>

        <v:content.render column="0"/>

    </div>

</f:section>

</html>
