<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="images" label="Images" description="A simple demonstration for an element using images.">
            <f:comment><!--form options--></f:comment>
            <flux:form.option name="group" value="Custom CEs"/>
            <flux:form.option name="Fluidcontent" value="{sorting: 10}"/>
            <flux:form.option name="icon" value="EXT:core/Resources/Public/Icons/T3Icons/content/content-menu-card.svg"/>

            <f:comment><!--form fields--></f:comment>
            <flux:field.inline.fal name="settings.images" label="Images"/>

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <strong>Flux Content-Element: Images</strong>
        <div style="border-bottom: 1px solid #000; width: 100%;"></div>

        <f:for each="{v:content.resources.fal(field: 'settings.images', uid: record.uid)}" as="image">
            <f:image treatIdAsReference="1" src="{image.id}" width="150c" height="150c" style="margin-right: 15px;"/>
        </f:for>
    </f:section>

    <f:section name="Main">

        <f:for each="{v:content.resources.fal(field: 'settings.images')}" as="image">
            <f:image treatIdAsReference="1" src="{image.id}" title="{image.title}" alt="{image.alternative}"/>
            <br/>
        </f:for>

    </f:section>
</div>
